# В этом файле прописываются те файлы, которые будут игнорироваться при переносе в хранилище
# index.html
# css/
# js/*.js
*.txt
# В общем, все что было в git add, можно писать сюда
# Каждая строка, что-то игнорирует одно - не надо писать всё в одну строку